<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myapp.repository.mybatis.AccountMapper">

  <!-- domain/Accountとカラムをマッピングする -->
  <resultMap id="Account" type="com.example.myapp.domain.Account">
    <id property="userId" column="user_id"/>
    <result property="emailAddress" column="email_address"/>
  </resultMap>

  <select id="find" resultMap="Account">
    select * from users
    <where>
      <if test="accountId!=null">
        user_id=#{accountId}
      </if>

      <if test="emailAddress!=null">
        and email_address=#{emailAddress}
      </if>
    </where>
  </select>

</mapper>

