<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myapp.repository.mybatis.AccountMapper">

  <resultMap id="users" type="com.example.myapp.domain.Account">
    <id property="accountId" column="user_id"/>
    <result property="emailAdress" column="email_adress"/>
  </resultMap>

  <select id="get" resultMap="users">
    select * from users
    <where>
      <if test="userId!=null">
        user_id=#{userId}
      </if>

      <if test="emailAdress!=null">
        and email_adress=#{emailAdress}
      </if>
    </where>
  </select>

</mapper>

